{% extends 'base.html' %}
{% load static %}
{% block content %}


    <div id="savenotesmodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-body">
                <p> Notes are saved. </p>
              </div>
            </div>
        </div>
    </div>


    <div style="width:100%;height: 100%;">

        <div id = "froala-editor" >
            {{ notes|safe }}
        </div>

        <div align="right" style="margin-top: 20px;">
            <button class="btn btn-info" onclick="navigateToParent('{{ focuspath }}');">Back to Parent</button>
            <button class="btn btn-info" onclick="navigateToNetwork('{{ focuspath }}');">Back to Network</button>
            <button class="btn btn-primary" onclick="saveNotes('{{ focuspath }}');">Save Notes</button>
        </div>
    </div>


{% endblock content %}
